<div class="historyMonth" dw-loading="historyMonth">
  <div common-header title-header="'历史学习情况'" show-more=false link-url="''"></div>
  <div class="tmBorder">
    <div expander classify-data="historyMonth" search="monthList" name="'month'"></div>
  </div>
</div>
<!--  search="searchCourse" -->
<!-- 
<div class="articleCategory">
  <div common-header title-header="'文章分类'" show-more=false link-url="''"></div>
  <div class="tmBorder">
    <div expander classify-data="categoryData" search="refreshList" name="'article'"></div>
  </div>
</div> -->